# ImmortalWrt mediatek/mt7622 — MediaTek MT7622 SoC (Cortex-A53 ×2).
# ARMv8-A 64-bit, common in mid-range Wi-Fi 6 routers.
#
# Notable devices:
#   - Xiaomi Redmi AX6S / Redmi AX3000T (some hw revisions)
#   - Xiaomi AX3200 (some hw revisions)
#   - Linksys MR8300
#   - Linksys E8450 (Belkin RT3200)
#   - NetGear WAX206

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7622=y
CONFIG_CCACHE=y
