# ImmortalWrt qualcommax/ipq807x — Qualcomm IPQ807x family.
# ARMv8-A 64-bit, used in high-end mesh / gaming Wi-Fi 6 routers.
#
# Notable devices:
#   - Xiaomi AX9000
#   - NetGear Nighthawk RAX120 v2 / SXR80
#   - Linksys MX5300 (Velop AX whole-home)
#   - Buffalo WXR-5950AX12
#   - Edgecore EAP102
#   - ZTE MF289F

CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_CCACHE=y
