# ImmortalWrt ramips/mt7621 — MediaTek MT7621 MIPS routers.
#
# Covers a huge number of mainland-China gigabit routers:
#   - Xiaomi Redmi AC2100, AX5
#   - Newifi3 D2
#   - PHICOMM K2P / K3
#   - Xiaomi 4A Gigabit Edition, 4A Gigabit Edition v2
#   - Xiaomi Mi Router 3G / Pro
#   - GL.iNet GL-MT1300 (Beryl)
#   - and many more

CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_CCACHE=y
